In [4]:
a=[]
a1=list()
b=()
b1=tuple() #튜플 수정 변경 안됌 #파이썬에서 튜플 기호 생략 가능

In [6]:
x , y = min_max(10,50)

NameError: name 'min_max' is not defined

In [7]:
a = {1: 'a'}
a[1]

'a'

In [9]:

bb[3] = {1,2,3}
bb
# KEY값은 중복 되면 안됌

NameError: name 'bb' is not defined

In [10]:
a = {'name': 'pey', 'phone': '0119993323', 'birth': '1118'}
a.keys()

dict_keys(['name', 'phone', 'birth'])

In [19]:
for k in a.keys(): # for 문은 내가 명확하게 몇번 반복할 지 알수 있을 때 사용
    print(k)

name
phone
birth

In [21]:
a.values()

dict_values(['pey', '0119993323', '1118'])

In [22]:
a.items()

dict_items([('name', 'pey'), ('phone', '0119993323'), ('birth', '1118')])

In [24]:
#해당 키가 딕셔너리 안에 있는지 조사하기
a = {'name':'pey', 'phone':'0123456789', 'birth':'19961111'}
'name'in a

True

In [25]:
s1 = set([1,2,3])
s1

{1, 2, 3}

In [34]:
s2 = set("alfiel") #set은 순서가 없다 중복 허용하지 않음
s2

{'a', 'e', 'f', 'i', 'l'}

In [35]:
#set함수는 교집합 차집합 합집합 할 때 매우 유용
s1 = set([1, 2, 3, 4, 5, 6])
s2= set([4,5,6,7,8,9])

In [36]:
s1 &s2

{4, 5, 6}

In [37]:
s1 | s2

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [38]:
z=1,2,3,4,5,6
type(z)

tuple

In [39]:
money = True
if money:
    print("택시를 타고 가라")
else:
    print("걸어가라")

택시를 타고 가라

In [40]:
if "":
    print("참")
else:
    print('거짓')

거짓

In [41]:
for i in [1,2,3,4,5]:

SyntaxError: unexpected EOF while parsing (<ipython-input-41-1eee8fc47c4f>, line 2)

In [42]:
money = 2000
Card =  True
if money >= 3000 or Card:
    print("택시를 타고 가라")
else:
    print("걸어가라")

택시를 타고 가라

In [43]:
pocket = ['paper', 'handphone']
card = True
if 'money' in pocket:
    print('택시를 타고 가라')
else:
    if card:
        print("택시를 타고 가라")
    else:
        print("걸어가라")

택시를 타고 가라

In [46]:
treeHit = 0
while treeHit < 10:
    treeHit = treeHit +1
    print("나무를 %d번 찍었습니다." % treeHit)
    if treeHit == 10:
        print("나무 넘어갑니다.")

나무를 1번 찍었습니다.
나무를 2번 찍었습니다.
나무를 3번 찍었습니다.
나무를 4번 찍었습니다.
나무를 5번 찍었습니다.
나무를 6번 찍었습니다.
나무를 7번 찍었습니다.
나무를 8번 찍었습니다.
나무를 9번 찍었습니다.
나무를 10번 찍었습니다.
나무 넘어갑니다.

In [47]:
coffee = 10
money = 300
while money:
    print("돈을 받았으니 커피를 줍니다.")
    coffee = coffee -1
    print("남은 커피의 양은 %d개입니다." % coffee)
    if coffee == 0:
        print("커피가 다 떨어졌습니다. 판매를 중지합니다.")
        break
        
#break는 if문이 아니라 while이랑 짝이다

돈을 받았으니 커피를 줍니다.
남은 커피의 양은 9개입니다.
돈을 받았으니 커피를 줍니다.
남은 커피의 양은 8개입니다.
돈을 받았으니 커피를 줍니다.
남은 커피의 양은 7개입니다.
돈을 받았으니 커피를 줍니다.
남은 커피의 양은 6개입니다.
돈을 받았으니 커피를 줍니다.
남은 커피의 양은 5개입니다.
돈을 받았으니 커피를 줍니다.
남은 커피의 양은 4개입니다.
돈을 받았으니 커피를 줍니다.
남은 커피의 양은 3개입니다.
돈을 받았으니 커피를 줍니다.
남은 커피의 양은 2개입니다.
돈을 받았으니 커피를 줍니다.
남은 커피의 양은 1개입니다.
돈을 받았으니 커피를 줍니다.
남은 커피의 양은 0개입니다.
커피가 다 떨어졌습니다. 판매를 중지합니다.

In [50]:
a = [(1,2), (3,4), (5,6)]
for (first, last) in a:  #괄호 생략 가능 변수 두개 받는것처럼 보이지만 그런게 아니라 튜플 괄호 생략
    print(first + last)

3
7
11

In [54]:
marks = [90,25,40,50,60]
number=0
for mark in marks:
    number = number+1
    if mark >=60:
        print('%d번학생은 합격입니다'%number)
    else:
        print('%d번학생은 불합격입니다'%number)

1번학생은 합격입니다
2번학생은 불합격입니다
3번학생은 불합격입니다
4번학생은 불합격입니다
5번학생은 합격입니다

In [55]:
# continue for문을 다시 수행하러 감

marks = [90, 25, 67, 45, 80]

number = 0 
for mark in marks: 
    number = number +1 
    if mark < 60:
        continue 
    print("%d번 학생 축하합니다. 합격입니다. " % number)

1번 학생 축하합니다. 합격입니다.
3번 학생 축하합니다. 합격입니다.
5번 학생 축하합니다. 합격입니다.

In [57]:
a = range(10)
a

range(0, 10)

In [60]:
sum=0
for i in range(1,101):
    sum= sum+i
    
print(sum)

5050

In [61]:
#리스트 안에 명령문이 들어가는 경우

a = [1,2,3,4]
result = [num*3 for num in a]
print(result)

[3, 6, 9, 12]

In [62]:
a = [1,2,3,4]
result = [num*3 for num in a if num % 2 ==0]
print(result)

[6, 12]